/* Global styles */
@import "./styles/variables";
@import "./styles/mixins";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material theme customization will be added here */
