// Ionic Variables and Theming
:root {
  /** primary **/
  --ion-color-primary: #3f51b5;
  --ion-color-primary-rgb: 63, 81, 181;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #37479f;
  --ion-color-primary-tint: #525cbc;

  /** secondary **/
  --ion-color-secondary: #ff4081;
  --ion-color-secondary-rgb: 255, 64, 129;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e03871;
  --ion-color-secondary-tint: #ff538e;

  /** success **/
  --ion-color-success: #4caf50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #439a46;
  --ion-color-success-tint: #5eb762;

  /** warning **/
  --ion-color-warning: #ff9800;
  --ion-color-warning-rgb: 255, 152, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08600;
  --ion-color-warning-tint: #ffa21a;

  /** danger **/
  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d73a30;
  --ion-color-danger-tint: #f5564a;
}
